@let localItem = item();
@let localIcon = icon();
<div class="flex flex-col gap-2">
  <div>
    <span class="timeline-item-dot">
      <fa-icon [icon]="localIcon" />
    </span>
    <time class="timeline-item-period">
      {{ localItem.dateStart | date : 'MMMM y' }} - {{ localItem.dateEnd | date : 'MMMM y' }}
    </time>
    <h3 class="timeline-item-title">
      {{ localItem.title }}
    </h3>
    <p class="timeline-item-description">{{ localItem.description }}</p>
  </div>

  <div>
    @if (localItem.tags) {
      @for (tag of localItem.tags; track $index) {
        <span class="timeline-item-pill">{{ tag }}</span>
      }
    }
  </div>

  <div>
    @if (localItem.link) {
      <a [href]="localItem.link" class="timeline-item-link" target="_blank"><fa-icon [icon]="faGlobe" class="me-1" /> Visit</a>
    }
  </div>
</div>
